body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  background: url("./images/U3MuIV.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 10%;
}

@font-face {
  font-family: klavika-bold;
  src: url("./fonts/klavika-bold-webfont.woff");
}

.main-table {
  display: table;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 2px black solid;
  width: 500px;
  height: 500px;
}

.monk-header {
  display: flex;
  justify-content: center;
  font-family: klavika-bold;
}

.monk-header > h1 {
  display: inline;
  border: 2px solid;
  border-radius: 10px;
  color: white;
  padding: 5px;
}

.tile1,
.tile2,
.tile3,
.tile4,
.tile5,
.tile6,
.tile7,
.tile8,
.tile9,
.tile10,
.tile11,
.tile12,
.tile13,
.tile14,
.tile15 {
  border: 1px solid white;
  height: 125px;
  width: 125px;
}

.tile1 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: 964px 479px; */
  cursor: pointer;
}

.tile2 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: 550px 479px; */
  cursor: pointer;
}

.tile3 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: 551px 479px; */
  cursor: pointer;
}

.tile4 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 552px 479px;
  cursor: pointer;
}

.tile5 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 549px 478px;
  cursor: pointer;
}

.tile6 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 549px 479px;
  cursor: pointer;
}

.tile7 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 549px 480px;
  cursor: pointer;
}

.tile8 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 549px 481px;
  cursor: pointer;
}

.tile9 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 549px 481px;
  cursor: pointer;
}

.tile10 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 549px 481px;
  cursor: pointer;
}

.tile11 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 549px 481px;
  cursor: pointer;
}

.tile12 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 549px 481px;
  cursor: pointer;
}

.tile13 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 549px 481px;
  cursor: pointer;
}

.tile14 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 549px 481px;
  cursor: pointer;
}

.tile15 {
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 549px 481px;
  cursor: pointer;
}
