body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  background: url("./images/U3MuIV.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: klavika-bold;
  src: url("./fonts/klavika-bold-webfont.woff");
}

.main-table {
  display: table;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 2px black solid;
  width: 500px;
  height: 500px;
}

.monk-header {
  display: flex;
  justify-content: center;
  font-family: klavika-bold;
}

.monk-header > h1 {
  display: inline;
  border: 2px solid;
  border-radius: 10px;
  color: white;
  padding: 5px;
}

.tile1,
.tile2,
.tile3,
.tile4,
.tile5,
.tile6,
.tile7,
.tile8,
.tile9,
.tile10,
.tile11,
.tile12,
.tile13,
.tile14,
.tile15 {
  border: 1px solid white;
  background: url("./images/monks.jpg");
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}

.tile1 {
  background-position: 0% 0%;
}

.tile2 {
  background-position: 33% 0%;
}

.tile3 {
  background-position: 67% 0%;
}

.tile4 {
  background-position: 100% 0%;
}

.tile5 {
  background-position: 0% 33%;
}

.tile6 {
  background-position: 33% 33%;
}

.tile7 {
  background-position: 66% 33%;
}

.tile8 {
  background-position: 100% 33%;
}

.tile9 {
  background-position: 0% 66%;
}

.tile10 {
  background-position: 33% 66%;
}

.tile11 {
  background-position: 66% 66%;
}

.tile12 {
  background-position: 100% 66%;
}

.tile13 {
  background-position: 0% 100%;
}

.tile14 {
  background-position: 33% 100%;
}

.tile15 {
  background-position: 66% 100%;
}
